.app-aside {
  background-color: #eeeeee;
  transition: width 0.3s ease;
  overflow: hidden;
  position: relative; /* Asegura que el botón del menú pueda posicionarse absolutamente respecto a este contenedor */
  padding: 10px 30px 30px;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0; /* Asegurar que el botón esté a la derecha */
  z-index: 1000; /* Asegurar que el botón esté sobre otros elementos */
}