<!-- app.component.html -->
<div class="app-container" fxLayout="column" style="min-height: 100vh">
  <header
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    class="app-header"
  >
    <h1><mat-icon>calendar_today</mat-icon>&nbsp;Organizador personal</h1>
    <!-- Espaciador para empujar el contenido al final -->
    <span fxFlex></span>
    <!-- Botón de login -->
    <button mat-button>Login</button>
  </header>

  <div fxLayout="row" fxFlex style="overflow: hidden">
    <aside
      [style.width]="
        showSidebar ? '200px' : '50px'
      "
      class="app-aside"
      fxLayout="column"
    >
      <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="showSidebar" fxLayout="column" fxLayoutAlign="start start">
        <h2>Opciones</h2>
        <button mat-button routerLink="/settings">Configuración</button>
        <button mat-button>Perfil</button>
      </div>
    </aside>

    <!-- Contenido principal -->
    <div fxFlex [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <!-- Segundo sidebar, calendario y clima -->
    <aside
      *ngIf="showSecondSidebar"
      fxFlex="19%"
      class="app-aside"
      fxLayout="column"
    >
      <app-permanent-calendar></app-permanent-calendar>
      <app-weather></app-weather>
    </aside>
  </div>

  <!-- Footer -->
  <footer fxLayout="row" fxLayoutAlign="center center" class="app-footer">
    <span>© 2024 Mario Quirós Pizarro</span>
  </footer>
</div>
