.app-aside {
  padding: 10px;
  background-color: #cccccc;
  transition: width 0.3s ease;
  overflow: auto;
  position: relative; 
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0; 
  z-index: 1000; 
}

.mat-card-content {
  max-height: 400px;  
  overflow-y: auto;  
}





