* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho total */
}

.app-header,
.app-footer {
  padding: 20px;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: white;
}

.app-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.task-list-container {
  max-height: 50vh; /* Ajusta esta altura según las necesidades de tu diseño */
  overflow-y: auto; /* Habilita el scroll solo verticalmente */
}

.app-main {
  padding: 20px;
  overflow: visible; /* Asegura que no haya scroll en el contenedor principal */
  transition: width 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
}


